@mixin layout {
    margin:0 auto; 
}
$text-aline:center;
$font-weight:700;
$padding50:50px 0;
$bg_fff:#fff;
body {
    @include layout; text-align:$text-aline;
    padding:100px 0; background-color:lightblue;
}

h1 {
    font-size:3rem; font-weight:$font-weight;
    padding:$padding50; background:lightcoral;
}
p {
    font-size:1.875rem;
}
p, ul {
    background-color:$bg_fff;
    padding:$padding50;
}
ul {
    border:1px solid #888;
}
ul li {
    line-height:2; text-align:center;
}
ul li .height {}
ul li .weight {}
ul li .normal {}
ul li .weight2 {}